<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                  http://maven.apache.org/xsd/settings-1.0.0.xsd">

<servers>
   <server>
      <id>server001</id>
      <username>anil</username>
      <password>Priya@12345</password>
   </server>
   <server>
      <id>server002</id>
      <username>my_login</username>
      <password>my_password</password>
   </server>
</servers>
  
